@import "./variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  position: relative;
  height: 100%;
}

body {
  font-family: $cormorant;
  font-size: 2rem;
  font-weight: map-get($font-weights, regular);
  color: $text-color;
  position: relative;
  height: 100%;
}

a {
  text-decoration: none;
  color: $text-color;
}

strong {
  font-weight: 400;
  font-family: $cormorant;
}
